body{
background-color: blue;
text-align: center;
}
h1{
    color: aqua;
}
h2{
    color: brown;
}
.cart-item{Wedding gown
display: flex;
align-items: center;    
margin-bottom: 10px;
border-bottom: 1px solid #f5f5f5;
padding-bottom: 5px;
max-width: 400px;
}
img{
    width: 80px;
    height: 80px;
border-radius: 18px;
margin-right: 20px;
}

.cart-item{Aso ebi
display: flex;
align-items: center;    
margin-bottom: 10px;
border-bottom: 1px solid #f5f5f5;
padding-bottom: 5px;
max-width: 400px;
}
img{
    width: 80px;
    height: 80px;
border-radius: 18px;
margin-right: 20px;
}

.cart-item{Polo and shirt
display: flex;
align-items: center;    
margin-bottom: 10px;
border-bottom: 1px solid #f5f5f5;
padding-bottom: 5px;
max-width: 400px;
}
img{
    width: 80px;
    height: 80px;
border-radius: 18px;
margin-right: 20px;
}